BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
ColumnLimit: 80
BreakBeforeBraces: Linux
AlignAfterOpenBracket: DontAlign
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
ContinuationIndentWidth: 4
SpaceAfterCStyleCast: true